*/*/.exercism

# Elm
elm/*/elm-stuff

# Haskell
haskell/*/.stack-work/
haskell/*/*.cabal
haskell/*/stack.yaml.lock

# Python
python/*/__pycache__
python/*/.pytest_cache

# Rust
rust/*/target/
rust/*/**/*.rs.bk
rust/*/Cargo.lock
rust/*/.gitignore
